
* { box-sizing: border-box; }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0; padding: 0;
}
a { text-decoration: none; }


.container { max-width: 1100px; margin: 40px auto; padding: 0 20px; }

/*cabeçalho: */
.header-box {
    background-color: #fff;
    border-left: 5px solid #2196F3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 30px;
}
.header-title h2 { margin: 0; font-size: 1.5rem; color: #2c3e50; }
.header-info p { margin: 5px 0 0; color: #666; }




.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px; margin-top: 20px;
}
.card {
    background: white; border-radius: 10px; padding: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); border: 1px solid #eaeaea;
    display: flex; flex-direction: column; justify-content: space-between;
}
.card h3 { margin-top: 0; color: #34495e; font-size: 1.2rem; }
.card p { color: #7f8c8d; line-height: 1.5; margin-bottom: 20px; }

/* a partir daqui fica a estilização para os formularios */
.form-center {
    max-width: 450px; margin: 50px auto; background: white;
    padding: 30px; border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.form-group { margin-bottom: 15px; }
.form-label { display: block; margin-bottom: 5px; font-weight: bold; color: #444; }
.form-control {
    width: 100%; padding: 10px; border: 1px solid #ccc;
    border-radius: 5px; font-size: 14px;
}
.alert-error {
    background-color: #f8d7da; color: #721c24; padding: 10px;
    border-radius: 5px; margin-bottom: 15px; border: 1px solid #f5c6cb;
}


.table-container { background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 5px rgba(0,0,0,0.05); }
table { width: 100%; border-collapse: collapse; }
th { background-color: #343a40; color: white; padding: 12px; text-align: left; }
td { padding: 12px; border-bottom: 1px solid #eee; }
tr:hover { background-color: #f9f9f9; }


.btn {
    display: inline-block; padding: 10px 20px; border-radius: 6px;
    font-weight: 600; font-size: 14px; cursor: pointer; border: none;
    text-align: center; color: white; transition: 0.3s;
}
.btn-full { width: 100%; display: block; }
.btn-primary { background-color: #007bff; } .btn-primary:hover { background-color: #0056b3; }
.btn-success { background-color: #28a745; } .btn-success:hover { background-color: #218838; }
.btn-danger { background-color: #dc3545; }  .btn-danger:hover { background-color: #a71d2a; }
.btn-warning { background-color: #ffc107; color: #333; } .btn-warning:hover { background-color: #e0a800; }